
{% extends 'main/header.html' %}

{% block content %}
    <title>Register</title>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
      <button style="background-color:mediumaquamarine" class="btn btn-outline-info" type="submit">Register as Student</button>
        <button style="background-color:mediumaquamarine" class="btn btn-outline-info" type="submit">Register as Teacher</button>
    </form>

    If you already have an account <a href="/login" target="blank"><strong>login</strong></a> instead.


{% endblock %}